.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.navbar {
	background: rgba(255,255,255,0.8);
	transition: all .6s;
	backface-visibility: hidden;
	box-shadow: 0 2px 5px 1px rgba(51, 51, 51, 0.1);
}

.navbar-dark .navbar-nav {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
	color: #444;
	color: rgba(255, 255, 255, 0.8);
	border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #444;
}

.navbar-dark .navbar-nav .nav-link:focus {
	color: #444;
	outline: 0;
}

.navbar-dark .navbar-toggler {
	border-color: #fff;
}

.navbar-dark .navbar-toggler:focus {
	background: none;
	outline: 0;
}

.navbar-dark .navbar-toggler span {
	display: block;
	width: 30px;
	height: 2px;
	margin: 6px auto;
	background: #444;
	transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-dark .navbar-toggler:hover span,
.navbar-dark .navbar-toggler:focus span {
	background: #444;
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
	transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
	opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
	transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
	transform: none;
	opacity: 1;
}

.navbar-brand {
	width: 162px;
	height: 44px;
	border: 0;
}

.nav-item a {
	color: $color__link !important;
}

.navbar-nav {
	ul {
		margin: 0px !important;
		padding: 0px !important;
	}

	li {
		padding: 10px 0px;

		a {
			color: $color__link;
		}
	}
}


